*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
   
}

body{
    background: #444;
}
.card{
    width: 90%;
    max-width: 570px;
    background: linear-gradient(135deg, #95bcb2, #5b548a);
    color: #e7c8c8;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search input{
    border: 0;
    outline: 0;
    height: 60px;
    background: #ffffff;
    padding: 10px 25px;
    border-radius: 30px;
    flex: 1;
    color: #555;
    font-size: 18px;
    margin-right: 16px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;

}

.search button img{
    width: 16%;
}

.error{
    color: rgb(137, 110, 110);
    font-size: 20px;
    background-color: rgb(249, 249, 249);
    margin-top: 10px;
    border-radius: 15px;
    padding: 3px 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: none;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
    
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;

}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}